@model IEnumerable< Design.Models.Dto.UsersDto>;

@{
    ViewData["Title"] = "Home Page";
    int iUser = 1;
}
<!-- Widgets Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm col-md ">
            <div class="h-100 bg-secondary rounded p-4">
                <div class="d-flex align-items-center pt-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">

                                        @iUser
                                        @{
                                            iUser = iUser + 1;
                                        }
                                        
                                    </th>
                                    <td>@item.FirstName</td>
                                    <td>@item.LastName</td>
                                    <td>@item.Email</td>
                                    <td>@item.Phone</td>
                                    <td>
                                        <a href="##">Edit</a>/
                                        <a href="##">Delete</a>/
                                        <a href="##">View</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Widgets End -->